.body {
  margin: 0;
  padding: 0;
}
.main {
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  /*  position: relative;
  min-width: 700px;
  min-height: 700px;
  overflow: auto; */
}
